/* MOBILE FIRST FOCUS */
body {
background-color: #31AFB4}
    
/* HAMBURGER DROP DOWN MENU */
    .dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;}

    .dropdownlist {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;}

    .dropdownlist a:hover{
    color: #30b1b4;}

    .dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #31AFB4;
    display: block;
    transition: 0.3s;}

/* USING FLEX BOX IN COLUMN DIRECTION FOR MOBILE DEVICES*/
    .homecontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;}

    #mainimage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;}

    #mainlogo {
    display: flex;
    justify-content: center;
    align-items: center;}

    html{
    font-size:16px;}

    .memberreviews {
    background-color: white;
    font-size: 2rem;
    text-align: center;
    padding: 30px;}
        
    .testimonial1 {
    background-color: white;
    text-align: center;
    padding: 20px;}
            
    .testimonial2 {
    background-color: white;
    text-align: center;
    padding: 20px;}
        
    .testimonial3 {
    background-color: white;
    text-align: center;
    padding: 20px;}
        
    .testimonial4 {
    background-color: white;
    text-align: center;
    padding: 20px;}

    .meetcoaches {
    background-color: white;
    text-align: center;
    font-size: 2rem;
    padding: 30px;}
                
    .coach1 {
    background-color: white;
    text-align: center;
    padding: 20px;}
                
    .coach2 {
    background-color: white;
    text-align: center;
    padding: 20px;}
            
    .coach3 {
    background-color: white;
    text-align: center;
    padding: 20px;}
                
    .coach4 {
    background-color: white;
    text-align: center;
    padding: 20px;}

/* FOOTER BROKE INTO SECTIONS TO USE THEM INDIVIDUALLY*/
    #homecontact {
    text-align: center;
    background-color: white;}
                
    #homedetails {
    text-align: center;
    background-color: white;}
                
    #homesocialmedia {
    width: auto;
    height: auto;
    text-align: center;
    background-color: white;}

    #homeminilogo {
    width: auto;
    height: auto;
    text-align: center;
    background-color: white;
    }

    img{
    max-width: 100%;
    height:auto; }

 /* LINKS DISPLAYED THE SAME ACROSS ALL DEVICES AND PAGES */
    a:link{
    color: black;
    text-decoration: none;
    text-align: center;}
                
    a:hover{
    color: #30b1b4;}
                
    a:visited {
    color: black;}

    .aboutcontainer{
    display: flex;
    flex-direction: column;
    height: 100vh;}

    #aboutcontact {
    padding-top: 40px;
    text-align: center;
    background-color: white;}
                
    #aboutdetails{
    text-align: center;
    background-color: white;}
            
    #aboutsocialmedia {
    width: auto;
    height: auto;
    text-align: center;
    background-color: white;}
        
    .progs{
    text-align: center;
    font-size: 2rem;
    padding: 20px;
    background-color: white;}
            
    .beginner {
    font-size: 1.5rem;
    padding: 10px;
    color: #30b1b4;
    display: flex;
    justify-content: center;
    background-color: white;} 
            
    .beginnerinfo{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    background-color: white;
    padding-bottom: 70px;}
        
    .intermediate {
    font-size: 1.5rem;
    padding: 10px;
    color: #30b1b4;
    display: flex;
    justify-content: center;
    background-color: white;
    padding-top: 30px;}
            
    .intermediateinfo{
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    background-color: white;
    padding-bottom: 70px;}
        
    .morebutton1 {
    background-color: #30b1b4;
    color: aliceblue;
    border: .3rem solid #30b1b4;
    border-radius:6px;
    position:absolute;
    top: 93%;
    left: 47%;
    font-size: 15px;}
            
    .morebutton2 {
    background-color: #30b1b4;
    color: aliceblue;
    border: .3rem solid #30b1b4;
    border-radius:6px;
    position:absolute;
    top: 153%;
    left: 47%;
    font-size: 15px;}

    .joincontainer {
    display: flex;
    flex-direction: column;
    height: 100vh;}

    #joincontact {
    text-align: center;
    background-color: white;}
                        
    #joindetails{
    text-align: center;
    background-color: white;}
                    
    #joinsocialmedia {
    width: auto;
    height: auto;
    text-align: center;
    background-color: white;}

    #joinminilogo {
        width: auto;
        height: auto;
        text-align: center;
        background-color: white;
    }

    #quote {
    font-size: 3rem;
    color: #30b1b4;
    padding: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;}

    /* FORM - TEXT BOXES, RADIO BUTTONS AND TEXT AREA WITH SUBMIT BUTTON */

    form {background-color: white;
    padding: 10px;}
            
    fieldset {
        padding: 1em 2em;
        border: solid 1px #30b1b4;
        border-radius: 6px;
        min-width: 200px;
        background-color: white;}
            
        legend {
        font-size: 1.25em;
        padding: 0 .25em;
        color: #30b1b4;}
        
        label {
        display: block;
        margin-top: .5em;}
            
        .radio label {
        display: inline;
        margin-top: 0;}
            
        label:first-of-type{
        margin-top: 0;}
            
        input {
        padding: .5em;
        border: solid 1px;}
            
        input[type="email"], input[type="name"] {
        width: 15em;}
            
        input[type="submit"] {
        background-color: #30b1b4;
        border: 0.1em solid;
        border-radius: 6px;
        top: 140%;
        left: 80%;
        position: relative;}

        textarea {
        min-height: 8em;
        max-width: 100%;
        padding: .5em;
        border: solid 1px;
        background-color: white;}
            
        .radio {
        margin-bottom: .5em;}
            
        .radio p {
        margin-bottom: 0;}

/* TABLET DEVICES USING MIN WIDTH*/
@media screen and (min-width:420px) {

    .dropdown {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;}
    
    .dropdownlist {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;}
    
    .dropdownlist a:hover{
    color: #30b1b4;}
    
    .dropdown a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    transition: 0.3s;}

    .homecontainer {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px 350px 80px 100px 100px 80px 350px 350px 30px 70px;
    grid-template-areas: 
    "mainlogo mainlogo"
    "mainimage mainimage"
    "memberreviews membersreviews"
    "testimonial1 testimonial2"
    "testimonial3 testimonial4"
    "meetcoaches meetcoaches"
    "coach1 coach2"
    "coach3 coach4"
    "homecontact homesocialmedia"
    "homedetails homeminilogo";}

        #mainlogo {
        grid-column: 1 /span 2;
        grid-row: 1;}

        #mainimage {
        grid-column: 1/span 2;
        grid-row: 2;
        background-color: #30b1b4;}

        .memberreviews {
        grid-column: 1 /span 2;
        grid-row: 3}

        .testimonial1 {
        grid-column: 1;
        grid-row: 4;}

        .testimonial2 {
        grid-column: 2;
        grid-row: 4;}

        .testimonial3 {
        grid-column: 1;
        grid-row: 5;}

        .testimonial4{
        grid-column: 2;
        grid-row: 5;}

        .meetcoaches{
        grid-column: 1/span 2;
        grid-row: 6;}

        .coach1{
        grid-column: 1;
        grid-row: 7;}

        .coach2 {
        grid-column: 2;
        grid-row: 7;}

        .coach3 {
        grid-column: 1;
        grid-row: 8;}

        .coach4{
        grid-column: 2;
        grid-row: 8;}

        #homecontact{
        grid-column: 1;
        grid-row: 9;}

        #homedetails {
        grid-column: 1;
        grid-row: 10;}

        #homesocialmedia {
        grid-column: 2;
        grid-row: 9;}

        #homeminilogo {
        grid-column: 2;
        grid-row: 10;}
}

/* DESKTOP DEVICE USING MIN WIDTH */
@media screen and (min-width: 800px) {

    .dropdown {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        overflow: hidden;
        transition: 0.5s; 
        padding-bottom: 10px;}
    
        .dropdownlist {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;}
    
        .dropdownlist a:hover{
        color: #30b1b4;}
    
        .dropdown a {
        padding: 8px;
        text-decoration: none;
        font-size: 30px;
        color: #31AFB4;
        display: block;
        transition: 0.3s;}

/* GRID FOR HOME.HTML */
    .homecontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 130px 450px 100px 150px 100px 380px 50px;
    grid-template-areas: "mainlogo mainlogo mainlogo mainlogo"
    "mainimage mainimage mainimage mainimage"
    "memberreviews memberreviews memberreviews memberreviews"
    "testimonial1 testimonial2 testimonial3 testimonial 4"
    "meetcoaches meetcoaches meet coaches"
    "coach1 coach2 coach3 coach4"
    "homecontact homedetails homesocialmedia minilogo";}
       
        #mainlogo {
        grid-column: 1 /span 4;
        grid-row: 1;}
    
        #mainimage {
        grid-column: 1/span 4;
        grid-row: 2;
        background-color: #30b1b4;}
    
        .memberreviews {
        grid-column: 1 /span 4;
        grid-row: 3}
    
        .testimonial1 {
        grid-column: 1;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;}
    
        .testimonial2 {
        grid-column: 2;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;}
    
        .testimonial3 {
        grid-column: 3;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;}
    
        .testimonial4{
        grid-column: 4;
        grid-row: 4;
        display: flex;
        justify-content: center;
        align-items: center;}
    
        .meetcoaches{
        grid-column: 1/span 4;
        grid-row: 5;}
    
        .coach1{
        grid-column: 1;
        grid-row: 6;}
    
        .coach2 {
        grid-column: 2;
        grid-row: 6;}
    
        .coach3 {
        grid-column: 3;
        grid-row: 6;}
    
        .coach4{
        grid-column: 4;
        grid-row: 6;}
    
        #homecontact{
        grid-column: 1;
        grid-row: 7;
        background-color: white;}
    
        #homedetails {
        grid-column: 2;
        grid-row: 7;
        background-color: white;
        justify-content: center;
        align-items: center;}
    
        #homesocialmedia {
        grid-column: 3;
        grid-row: 7;
        background-color: white;
        justify-content: center;
        align-items: center;}

        #homeminilogo {
        grid-column: 4;
        grid-row: 7;
        background-color: white;
        justify-content: center;
        align-items: center;}

    }